In [1]:
print("Hello world")

Hello world

In [3]:
a=2.0
print(type(a))

<class 'float'>

In [21]:
x= "python" 
y= "programming" 
print(x , y)
print(x + ' ' + y)

python programming
python programming

addition == +,
subtraction == -,
multiplication == *,
division == /,
modulo == %,
division 2 == //,

In [37]:
a= 10
b=5

print(a  + b)
print(a  - b)
print(a  * b)
print(a  / b)
print(a  % b)
print(a  // b)
print(a **  b)

15
5
50
2.0
0
2
100000

In [41]:
X= 3
x= 5

print(X + x)

8

python is case sensitive language 

Comparison operater 
a == b ,
a > b ,
a < b  ,
a >= b ,
a <= b ,
a != b

In [45]:
a = 10
b = 5 

print (a == b)
print (a > b)
print (a < b)
print (a <= b)
print (a >= b)
print (a != b)

False
True
False
False
True
True

Logical Operater 
And ,
Or , 
Not

In [48]:
a = 10
b = 5
c = 4
print ((a >= b) and (a>= c))
print ((a >= b) or (a>= c))
print (not (a == b))

True
True
True

In [54]:
# write python program to find the area of triangle.

base = float(input("base of the tringle"))
height =float(input("height"))

area = 0.5*base*height
print(area)

base of the tringle 10
height 5

25.0

In [56]:
z = "5"
z = int(z)
type(z)

int

In [62]:
#write a python program to swap two variables.
a = int(input("num1"))
b = int(input("num2"))

c = a
a = b
b = c

print("num1 =", a)
print("num2 =", b)

num1 4
num2 5

num1 = 5
num2 = 4

In [64]:
a,b   = b,a

In [66]:
# write python code to convert centimeters to feet . 

cm = float(input("Enter length in centimeters: "))
feet = cm * 0.0328084
print("Length in feet is:", feet)

# Python program to convert centimeters to feet
##cm = float(input("Enter length in centimeters: "))
#feet = cm * 0.0328084

#print(f"{cm} cm is equal to {feet:.4f} feet")

Enter length in centimeters:  23

Length in feet is: 0.7545932000000001

In [68]:
# write a program to check if a number is positive , negative or Zero 

num = float(input("Enter a number: "))
if num > 0:
    print("The number is Positive")
elif num < 0:
    print("The number is Negative")
else:
    print("The number is Zero")

Enter a number:  -5

The number is Negative

In [70]:
# find the first 20 fibonacci series 

a, b = 0, 1

print("First 20 Fibonacci numbers:")
for i in range(20):
    print(a, end=' ')
    a, b = b, a + b

#a = 0
#b = 1
#print(a)
#print(b)
#while(c <= 20):
    #sum = a+b
   # print(sum)
   # a = b
   # b = sum
  #  c = c+1

First 20 Fibonacci numbers:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [76]:
# write a python program to find the factorial of a number 

num = int(input("Enter a number: "))

if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    factorial = 1
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")

Enter a number:  7

The factorial of 7 is 5040

In [78]:
#write a python program to display the multiplication table 

num = int(input("Enter a number to display its multiplication table: "))

print(f"\nMultiplication Table of {num}:")

# Loop from 1 to 20
for i in range(1, 21):
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number to display its multiplication table:  19

Multiplication Table of 19:
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
19 x 11 = 209
19 x 12 = 228
19 x 13 = 247
19 x 14 = 266
19 x 15 = 285
19 x 16 = 304
19 x 17 = 323
19 x 18 = 342
19 x 19 = 361
19 x 20 = 380