 What is an Armstrong Number?

An n-digit number is an Armstrong number if the sum of its digits raised to the power n is equal to the number itself.
For example, 153 is an Armstrong number because:
1
3
+
5
3
+
3
3
=
153
1 
3
 +5 
3
 +3 
3
 =153

In [2]:
# Python program to find Armstrong numbers in a given range
start = int(input("Enter start of range: "))
end = int(input("Enter end of range: "))

print(f"\nArmstrong numbers between {start} and {end} are:")

for num in range(start, end + 1):
    num_str = str(num)
    num_digits = len(num_str)
    
    sum_of_powers = sum(int(digit) ** num_digits for digit in num_str) 
    if sum_of_powers == num:
        print(num)

Enter start of range:  6
Enter end of range:  9

Armstrong numbers between 6 and 9 are:
6
7
8
9

In [3]:
for num in (range(1,10000)):
    strnum = str(num)
    pow = len(strnum)
    sum = 0
    for i in (range(len(strnum)-1)):
        sum+= int(strnum[i])**pow
    if(sum==num):
        print(num)

370
6688

# LIST

‚úÖ What is a List in Python?

:--- A list in Python is a collection of items (like numbers, strings, or even other lists) that are ordered, changeable (mutable), and allow duplicate values.

üìå Key Features of Lists
Defined using square brackets []

Items are indexed starting from 0

Can hold mixed data types (e.g., integers, strings, floats)

Can be updated, added to, or removed from

my_list = [100, 200, 300]
Indexes:     0    1    2

üß† Why Use Lists?

Lists help store and manage multiple values together. For example, if you're finding Armstrong numbers, you can collect them all in a list and use them later.

In [5]:
list = [10, 20, 30, 40]
print(list[0])

10

In [6]:
list

[10, 20, 30, 40]

In [7]:
#functions 
list.append(50)

In [8]:
list

[10, 20, 30, 40, 50]

In [9]:
list.remove(50)

In [10]:
list

[10, 20, 30, 40]

In [11]:
list.insert(2, 30)
list

[10, 20, 30, 30, 40]

In [12]:
list1 = []
list1

[]

In [13]:
list1 = list
list1

[10, 20, 30, 30, 40]

In [14]:
num_list = [13,21,34,32,54,65,45,76,56,65]

new_list = []
for i in num_list:
    new_list.append(i**2)
print(new_list)

[169, 441, 1156, 1024, 2916, 4225, 2025, 5776, 3136, 4225]

In [15]:
#list comprehension

new_list = [i**2 for i in num_list if i%2 == 0]

In [16]:
new_list

[1156, 1024, 2916, 5776, 3136]

In [17]:
list = [32,31,40,54,65,63,67,87]

#write a sort function for sorting above list 

for i in range(len(list)-1):
    for j in range (i+1, len(list)):
        if list[i]>list[j]:
            list[i],list[j] = list[j],list[j]

print(list)

[31, 31, 40, 54, 63, 63, 67, 87]

In [18]:
matrix = [
    [1, 2, 3, 4, 5, 6],
    [7, 8, 9, 10, 11, 12],
    [13, 14, 15, 16, 17, 18],
    [19, 20, 21, 22, 23, 24],
    [25, 26, 27, 28, 29, 30]
]

matrix

[[1, 2, 3, 4, 5, 6],
 [7, 8, 9, 10, 11, 12],
 [13, 14, 15, 16, 17, 18],
 [19, 20, 21, 22, 23, 24],
 [25, 26, 27, 28, 29, 30]]

In [19]:
matrix[3][4]

23

In [20]:
matrix[0][5]

6

In [21]:
matrix[2][1]

14

In [22]:
matrix[1][3]

10

# TUPLES

üü£ Tuples in Python

A tuple is a collection of ordered, immutable (unchangeable) elements in Python. Tuples are similar to lists, but they cannot be changed after creation.

‚úÖ 1. Creating a Tuple

t1 = (1, 2, 3)
t2 = ("apple", "banana", "cherry")
t3 = (1, "hello", 3.14)
‚û°Ô∏è You can mix data types inside a tuple.

‚úÖ 2. Tuple with One Element
python
Copy
Edit
single = (5,)   # Must include the comma!
Without the comma, Python will treat it as a number in brackets, not a tuple.

‚úÖ 3. Accessing Tuple Elements
t = ("a", "b", "c")
print(t[0])     # Output: 'a'
print(t[-1])    # Output: 'c'

‚úÖ 4. Tuple Slicing
t = (1, 2, 3, 4, 5)
print(t[1:4])    # Output: (2, 3, 4)

‚úÖ 5. Tuple is Immutable
t = (1, 2, 3)
# t[0] = 10   ‚ùå This will give an error: 'tuple' object does not support item assignment

‚úÖ 6. Tuple Methods
Method	Description
count(x)	Returns the number of times x appears
index(x)	Returns the first index of x

Example:
t = (1, 2, 3, 2, 4)
print(t.count(2))   # Output: 2
print(t.index(3))   # Output: 2

‚úÖ 7. Looping Through Tuple

t = ("red", "blue", "green")
for color in t:
    print(color)
    
‚úÖ 8. Tuple Packing and Unpacking

# Packing
info = ("Alice", 25, "Developer")

# Unpacking
name, age, job = info
print(name, age, job)

‚úÖ 9. Nested Tuples

nested = (("a", 1), ("b", 2))
print(nested[1][0])  # Output: 'b'
‚úÖ 10. When to Use a Tuple
When the data should not be changed

For fixed pairs or records like coordinates, (x, y), etc.

As keys in dictionaries (since tuples are hashable, lists are not)

In [25]:
t1 = (1, 2, 3) 
t2 = ("apple", "banana", "cherry") 
t3 = (1, "hello", 3.14)

In [26]:
t1

(1, 2, 3)

In [27]:
t2

('apple', 'banana', 'cherry')

In [28]:
t3

(1, 'hello', 3.14)

# SET

üü¢ Sets in Python

A set is an unordered collection of unique elements. Sets are useful when you want to store non-duplicate values and perform operations like union, intersection, etc.

In [30]:
s = {1, 2, 3}
print(s)
for i in s:
    print(i)

{1, 2, 3}
1
2
3

In [31]:
# Duplicates are automatically removed:

s = {1, 2, 2, 3}
print(s)

{1, 2, 3}

In [32]:
# Empty set 
s = set()
s

set()

# Set Operations

a = {1, 2, 3}
b = {3, 4, 5}
Operation	Code	Output
Union	`a	bora.union(b)`
Intersection	a & b or a.intersection(b)	{3}
Difference	a - b or a.difference(b)	{1, 2}
Symmetric Difference	a ^ b or a.symmetric_difference(b)	{1, 2, 4, 5}

In [34]:
s1 = {1,3,4,5,6,8,9}
s2 = {2,3,4,7,12}

#Union of set 
print(s1.union(s2))

#intersection
print(s1.intersection(s2))

#difference 
print(s1.difference(s2))

#Symmetric difference 
print(s1^s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12}
{3, 4}
{1, 5, 6, 8, 9}
{1, 2, 5, 6, 7, 8, 9, 12}

# Set Methods
Method	Description

add(x)	Add element x
update([x, y])	Add multiple elements
remove(x)	Remove x, raises error if not found
discard(x)	Remove x, does not raise error
pop()	Removes random element
clear()	Empties the set
copy()	Returns a shallow copy

In [36]:
s1.add(13)
s1

{1, 3, 4, 5, 6, 8, 9, 13}

In [37]:
s1.remove(6)
s1

{1, 3, 4, 5, 8, 9, 13}

In [38]:
s2.discard(12)
s2

{2, 3, 4, 7}

# Dictionary

üü° Dictionaries in Python

A dictionary is an unordered collection of key-value pairs. Each key in a dictionary is unique, and it is used to access its corresponding value.

In [41]:
student = {
    "name": "Alice",
    "age": 21,
    "course": "Python"
}
print(student)

{'name': 'Alice', 'age': 21, 'course': 'Python'}

In [42]:
# Accessing Values

print(student["name"])     # Output: Alice
print(student.get("age"))  # Output: 21

Alice
21

In [43]:
# Adding or Updating Values

student["age"] = 23         
student["grade"] = "B"

student

{'name': 'Alice', 'age': 23, 'course': 'Python', 'grade': 'B'}

In [44]:
# Removing Elements

student.pop("course")      
del student["age"]      
student.clear()

 Dictionary Methods

Method	                Description
keys()	               Returns all keys
values()	           Returns all values
items()	               Returns (key, value) pairs
get(key)	           Returns value for key
update(dict2)	       Merges two dictionaries
pop(key)	           Removes the item with the key
clear()	               Empties the dictionary

In [46]:
empty_dict = {}
# or
empty_dict = dict()

In [47]:
student = {
    "name": "Alice",
    "age": 25,
    "courses": ["Math", "Physics"]
}
student

{'name': 'Alice', 'age': 25, 'courses': ['Math', 'Physics']}

In [48]:
print(student["name"])

Alice

In [49]:
print(student.get("age"))  # Output: 25
print(student.get("grade", "N/A"))  # Returns "N/A" if key doesn't exist

25
N/A

In [50]:
print(student.keys())    
print(student.values())  
print(student.items())

dict_keys(['name', 'age', 'courses'])
dict_values(['Alice', 25, ['Math', 'Physics']])
dict_items([('name', 'Alice'), ('age', 25), ('courses', ['Math', 'Physics'])])

In [51]:
# str = "abcdefghijklmnopqrstuvwxyz"
# output should be in the form of:- list['abc','bcd','cde','def'........]
str = "abcdefghijklmnopqrstuvwxyz"
result = [str[i:i+3] for i in range(len(str)-2)]
print(result)

['abc', 'bcd', 'cde', 'def', 'efg', 'fgh', 'ghi', 'hij', 'ijk', 'jkl', 'klm', 'lmn', 'mno', 'nop', 'opq', 'pqr', 'qrs', 'rst', 'stu', 'tuv', 'uvw', 'vwx', 'wxy', 'xyz']

In [52]:
# write a pythin program to find LCM ?
#cube sum for fist n natural number ?
#write a python program to find HCF ?